@charset "utf-8";
/*
    em HTML é id = em CSS é # (Só pode um elemento)
    em HTML é class = em CSS é . (Pode vários elementos)
*/
body {
    background-color: #1F8683;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: #0bcac4;
}
h1#principal {
    text-align: center;
    background-color: #176462;
    color: white;
}
h2 {
    color: #36ECE6;
}
.básico {
    color: #07abc8;
    font-weight: bold;
}
.intermediario {
    color: #36D1EC;
    font-weight: normal;
    font-style: italic;
}
.avançado {
    color: #1F7786;
    font-weight: bolder;
}